#nameDisplay {
    min-height:600px;
    background-color:slategray;
}

.nameText {
    color:white;
    margin-top:150px;
}

#skills {
    min-height:600px;
    background-color:#f2f2f7;
}

#aboutMe {
    min-height:600px;
    background-color:slategray;
}

#footer {
    background-color: #262626;
    min-height: 450px;
}

#skillImg {
    max-width: 125px;
}
